mixin topline()
	.topline
		.topline__in
			.topline__phone.phone
				a.phone__link(href="#link") +7 (900) <b>800-00-88</b>
			.topline__email.email
				a.email__link(href='mailto:telootdih@mail.ru') telootdih@mail.ru
			.topline__search-form.search-form
				form(action="", method="get")
					.search-form__w
						input.search-form__input(type="text", value="", placeholder="поиск по сайту", name="")
						button.search-form__submit Поиск
			ul.topline__social.social
				li.social__item.social__item_vider
					a.social__link(href="#link") Viber
				li.social__item.social__item_whatsapp
					a.social__link(href="#link") whatsapp
