mixin sidebar()
	aside.sidebar
		.sidebar__cat.cat
			h2.cat__title Категории товара
			ul.cat__list
				li.cat__item.cat__item_1(data-accordion="")
					a.cat__link(href="#link") ТВ-товары

					ul.cat__sub
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 1
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 2
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 3
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 4
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 5
				li.cat__item.cat__item_2(data-accordion="")
					a.cat__link(href="#link") Бытовая техника

					ul.cat__sub
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 1
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 2
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 3
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 4
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 5
				li.cat__item.cat__item_3(data-accordion="")
					a.cat__link(href="#link") Товары для дома

					ul.cat__sub
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 1
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 2
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 3
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 4
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 5
				li.cat__item.cat__item_4(data-accordion="")
					a.cat__link(href="#link") Одежда и обувь

					ul.cat__sub
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 1
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 2
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 3
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 4
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 5
				li.cat__item.cat__item_5(data-accordion="")
					a.cat__link(href="#link") Электроника

					ul.cat__sub
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 1
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 2
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 3
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 4
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 5
				li.cat__item.cat__item_6.cat__item_active(data-accordion="")
					a.cat__link(href="#link") Красота и здоровье

					ul.cat__sub
						li.cat__sub-item.cat__sub-item_active
							a.cat__sub-link(href="#link") Парфюмерия
						li.cat__sub-item
							a.cat__sub-link(href="#link") Косметологическое оборудование
						li.cat__sub-item
							a.cat__sub-link(href="#link") Ароматерапия
						li.cat__sub-item
							a.cat__sub-link(href="#link") Косметика и гигиена
						li.cat__sub-item
							a.cat__sub-link(href="#link") Медицинские приборы

				li.cat__item.cat__item_7(data-accordion="")
					a.cat__link(href="#link") Канцтовары

					ul.cat__sub
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 1
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 2
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 3
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 4
						li.cat__sub-item
							a.cat__sub-link(href="#link") Sub link 5
