mixin hero()
	.hero
		a.hero__logo.logo(href='#link')
			.logo__title Тело <br/>и отдых
			.logo__slogan Здоровье и энергия в <br/>Вашей жизни
		.hero__slider.slider
				//- img.slider__img(src="assets/images/content/slider-img.jpg", alt="")
