include ../pagination/pagination

mixin catalog()
	.catalog
		ul.catalog__list
			li.catalog__item
				.catalog__image
					img(src="assets/images/content/product-img-1.jpg", alt="")
				.catalog__title Подушка Dormeo Air Smart Duo
				.catalog__price 1 999 р.
				a.catalog__button.button.button_card(href='#link') в корзину
				a.catalog__button.button.button_more(href="#modal-1" data-modal-open) подробнее

			li.catalog__item
				.catalog__image
					img(src="assets/images/content/product-img-2.jpg", alt="")
				.catalog__title Набор посуды Mayer&Boch MB-26037
				.catalog__price 5 361 р.
				a.catalog__button.button.button_card(href='#link') в корзину
				a.catalog__button.button.button_more(href="#modal-1" data-modal-open) подробнее

			li.catalog__item
				.catalog__image
					img(src="assets/images/content/product-img-3.jpg", alt="")
				.catalog__title Набор из 2-х подушек анатомической формы
				.catalog__price 5 361 р.
				a.catalog__button.button.button_card(href='#link') в корзину
				a.catalog__button.button.button_more(href="#modal-1" data-modal-open) подробнее

			li.catalog__item
				.catalog__image
					img(src="assets/images/content/product-img-1.jpg", alt="")
				.catalog__title Подушка Dormeo Air Smart Duo
				.catalog__price 1 999 р.
				a.catalog__button.button.button_card(href='#link') в корзину
				a.catalog__button.button.button_more(href="#modal-1" data-modal-open) подробнее

			li.catalog__item
				.catalog__image
					img(src="assets/images/content/product-img-2.jpg", alt="")
				.catalog__title Подушка Dormeo Air Smart Duo
				.catalog__price 1 999 р.
				a.catalog__button.button.button_card(href='#link') в корзину
				a.catalog__button.button.button_more(href="#modal-1" data-modal-open) подробнее

			li.catalog__item
				.catalog__image
					img(src="assets/images/content/product-img-3.jpg", alt="")
				.catalog__title Подушка Dormeo Air Smart Duo
				.catalog__price 1 999 р.
				a.catalog__button.button.button_card(href='#link') в корзину
				a.catalog__button.button.button_more(href="#modal-1" data-modal-open) подробнее
