@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/os/hinted-subset-OpenSans-Bold.woff2') format('woff2'),
		url('../fonts/os/hinted-subset-OpenSans-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/os/hinted-subset-OpenSans-Light.woff2') format('woff2'),
		url('../fonts/os/hinted-subset-OpenSans-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster-Regular';
	src: url('../fonts/lob/hinted-subset-Lobster-Regular.woff2') format('woff2'),
		url('../fonts/lob/hinted-subset-Lobster-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Reg';
	src: url('../fonts/os/hinted-subset-OpenSans.woff2') format('woff2'),
		url('../fonts/os/hinted-subset-OpenSans.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/os/hinted-subset-OpenSans-Semibold.woff2') format('woff2'),
		url('../fonts/os/hinted-subset-OpenSans-Semibold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$osL = 'OpenSans-Light', Arial, Helvetica Neue, Helvetica, sans-serif
$osR = 'OpenSans-Reg', Arial, Helvetica Neue, Helvetica, sans-serif
$osSb = 'OpenSans-Semibold', Arial, Helvetica Neue, Helvetica, sans-serif
$osB = 'OpenSans-Bold', Arial, Helvetica Neue, Helvetica, sans-serif

$lob = 'Lobster-Regular', Arial, Helvetica Neue, Helvetica, sans-serif
