.header
	position absolute
	top 0
	left 0
	width 100%
	z-index 2

	&__in
		position relative
		@extends .in
		padding-top 14px
		padding-bottom 14px
		clearfix()
	&__nav
		float left
	&__cart
		position absolute
		top 5px
		right 20px

.nav
	font-family $lob
	color #191919
	&__list
		font-size 0
	&__item
		position relative
		padding-left 25px
		padding-right 16px
		display inline-block
		vertical-align top
		font-size 20px
		&:after
			position absolute
			top 50%
			left 0
			margin-top -5px
			content ''
			width 8px
			height 8px
			border 1px solid #191919
			border-radius 50%
		&:first-child
			padding-left 0
			padding-right 25px
			&:after
				display none
	&__link
		color inherit
		text-decoration none
		&:hover
			color #5bb453
	&__item_active
		.nav__link
			color #5bb453


.h-cart
	padding-left 44px
	color #1d1d1d
	text-decoration none
	&:after
		position absolute
		top 6px
		left 0
		content ''
		retinaSprite($cart_icon_group)
	&__title
		position relative
		left 8px
		padding-top 16px
		font-family $lob
		font-size 20px
		color #1d1d1d
	&__title,
	&__w
		display inline-block
		vertical-align top
	&__w
		margin-left 20px
	&__quant,
	&__amount
		font-size 18px
		line-height 24px
