mixin articles()
	.articles
		.articles__in
			h2.articles__title Полезные статьи
			ul.articles__list
				li.articles__item
					a.articles__link(href="#link")
						.articles__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
						.articles__meta 03.04.2017 - 09.04.2017
						.articles__item-title Чудо-кухня
						.articles__text Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!
						.articles__more подробнее
				li.articles__item
					a.articles__link(href="#link")
						.articles__image
							img(src="assets/images/content/article-img-2.jpg", alt="")
						.articles__meta 03.04.2017 - 09.04.2017
						.articles__item-title Чудо-кухня
						.articles__text Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!
						.articles__more подробнее
				li.articles__item
					a.articles__link(href="#link")
						.articles__image
							img(src="assets/images/content/article-img-3.jpg", alt="")
						.articles__meta 03.04.2017 - 09.04.2017
						.articles__item-title Чудо-кухня
						.articles__text Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!
						.articles__more подробнее

				li.articles__item
					a.articles__link(href="#link")
						.articles__image
							img(src="assets/images/content/article-img-1.jpg", alt="")
						.articles__meta 03.04.2017 - 09.04.2017
						.articles__item-title Чудо-кухня
						.articles__text Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!
						.articles__more подробнее
				li.articles__item
					a.articles__link(href="#link")
						.articles__image
							img(src="assets/images/content/article-img-2.jpg", alt="")
						.articles__meta 03.04.2017 - 09.04.2017
						.articles__item-title Чудо-кухня
						.articles__text Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!
						.articles__more подробнее
				li.articles__item
					a.articles__link(href="#link")
						.articles__image
							img(src="assets/images/content/article-img-3.jpg", alt="")
						.articles__meta 03.04.2017 - 09.04.2017
						.articles__item-title Чудо-кухня
						.articles__text Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!
						.articles__more подробнее
