.footer
	background #282828
	&__in
		@extends .in
		padding-top 16px
		padding-bottom 22px
	&__phone,
	&__email,
	&__social
		display inline-block
		vertical-align top
		color #FFF
	&__phone
		padding-right 0
	&__email
		margin-left 33px
	&__social
		margin-top 12px
		margin-left 20px
	&__copyright
		margin-top 24px
		float right
		font-size 16px
		color #FFF

