mixin footer()
	footer.footer
		.footer__in
			.footer__phone.phone
				a.phone__link(href="#link") +7 (900) <b>800-00-88</b>
			.footer__email.email
				a.email__link(href='mailto:telootdih@mail.ru') telootdih@mail.ru

			ul.footer__social.social
				li.social__item.social__item_vider
					a.social__link(href="#link") Viber
				li.social__item.social__item_whatsapp
					a.social__link(href="#link") whatsapp

			.footer__copyright Copyright 2006-2017

