mixin welcome()
	.welcome
		.welcome__in
			h2.welcome__title Добро пожаловать в наш магазин!
			p.welcome__text.welcome__text_1 Современные бытовые приборы — это лучшие помощники на кухне. Мультварки и блендеры, чопперы и сушилки для овощей и многое другое по доступной цене сэкономят ваше время, силы и деньги!

			.advnges
				h2.advnges__title Наши преимущества
				ul.advnges__list
					li.advnges__item.advnges__item_1 Новинки
					li.advnges__item.advnges__item_2 Всегда на<br/> связи
					li.advnges__item.advnges__item_3 Низкие цены
					li.advnges__item.advnges__item_4 Гарантия<br/> качества

			p.welcome__text.welcome__text_2 Распродажа товаров Dormeo — скидки до 69%. Матрасы, наматрасники и много другое для здорового сна по самым приятным ценам. Спешите! Правильный сон — залог успешного дня.
			a.welcome__button.button.button_big(href="#link") посмотреть лучшие товары
