mixin product-card()
	.product-card
		.product-card__left
			.product-card__slider
				.product-card__slider-item
					img(src="assets/images/content/product-big-img.jpg", alt="")
				.product-card__slider-item
					img(src="assets/images/content/product-big-img.jpg", alt="")
				.product-card__slider-item
					img(src="assets/images/content/product-big-img.jpg", alt="")
				.product-card__slider-item
					img(src="assets/images/content/product-big-img.jpg", alt="")

			.product-card__thumbs
				.product-card__thumb-item
					img(src="assets/images/content/thumb-img.jpg", alt="")
				.product-card__thumb-item
					img(src="assets/images/content/thumb-img.jpg", alt="")
				.product-card__thumb-item
					img(src="assets/images/content/thumb-img.jpg", alt="")
				.product-card__thumb-item
					img(src="assets/images/content/thumb-img.jpg", alt="")


		.product-card__right
			h1.product-card__title Набор посуды Mayer&Boch MB-26037
			.product-card__price 1 999 р.
			.product-card__specs
				.product-card__specs-title Характеристики товара
				ul.product-card__specs-list
					li.product-card__specs-item
						span.product-card__specs-term Цвет:
						span.product-card__specs-def ТЕМНО СИНИЙ
					li.product-card__specs-item
						span.product-card__specs-term Состав:
						span.product-card__specs-def  50% хлопок, 50% шерсть
					li.product-card__specs-item
						span.product-card__specs-term Особенности:
						span.product-card__specs-def изделие выполнено из тонкого трикотажа, застежка на пуговицы весна-осень
					li.product-card__specs-item
						span.product-card__specs-term Параметры модели:
						span.product-card__specs-def рост 175 см, 87-65-95 см
					li.product-card__specs-item
						span.product-card__specs-term Размер изделия на модели:
						span.product-card__specs-def 42
					li.product-card__specs-item
						span.product-card__specs-term Уход за изделием:
						span.product-card__specs-def химчистка
					li.product-card__specs-item
						span.product-card__specs-term Страна дизайна:
						span.product-card__specs-def США
					li.product-card__specs-item
						span.product-card__specs-term Страна производства:
						span.product-card__specs-def Китай

			a.product-card__button(href="#link") в корзину
